@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg1-clr: #3b4252;
  --bg2-clr: #2a303c;
  --dbg-clr: #333945;
  --h-clr: #ffffff;
  --p-clr: #cccccc;
  --o-clr: #cccccc;
  --btn-txt-clr: #ffffff;
  --btn-clr: #00a7e1;
  --btn-hover-clr: #007bff;
}

body {
  background: linear-gradient(to left, var(--bg1-clr), var(--bg2-clr));
}

* {
  font-family: Poppins, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pricing {
  background-color: var(--dbg-clr);
  width: 350px;
  min-width: 200px;
  min-height: 550px;
  padding: 0 25px 20px 25px;
  margin: 0 auto;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.pricing h2 {
  color: var(--h-clr);
}

.price-con {
  margin-bottom: 20px;
}

.price {
  color: var(--p-clr);
  font-size: 28px;
}

.per {
  color: var(--h-clr);
  font-size: 15px;
}

.option {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--o-clr);
  margin-bottom: 7px;
}

.option i {
  font-size: 24px;
}

.start-btn {
  font-size: 16px;
  background-color: var(--btn-clr);
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}

.start-btn:hover {
  background-color: var(--btn-hover-clr);
}
