@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg1-clr: #3b4252;
  --bg2-clr: #2a303c;
  --dbg-clr: #333945;
  --h-clr: #ffffff;
  --p-clr: #cccccc;
  --o-clr: #cccccc;
  --btn-txt-clr: #ffffff;
  --btn-clr: #00a7e1;
  --btn-hover-clr: #007bff;
}

body {
  background: linear-gradient(to left, var(--bg1-clr), var(--bg2-clr));
}

* {
  font-family: Poppins, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.pricing {
  background-color: var(--dbg-clr);
  width: 550px;
  min-height: 550px;
  padding: 0 25px 20px 25px;
  border-radius: 6px;
}

.start-btn {
  font-size: 16px;
  /* position: static;
  left: 0;
  right: 0;
  bottom: 20px; */
}
