@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg1-clr: #3b4252;
  --bg2-clr: #2a303c;
  --dbg-clr: #333945;
  --h-clr: #ffffff;
  --p-clr: #cccccc;
  --i-clr: #00a7e1;
  --o-clr: #cccccc;
  --btn-txt-clr: #ffffff;
  --btn-clr: #00a7e1;
  --btn-hover-clr: #007bff;
}

body {
  background: linear-gradient(to left, var(--bg1-clr), var(--bg2-clr));
}

* {
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  gap: 1rem;
}

.pricing {
  background-color: var(--dbg-clr);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.pricing-title {
  font-size: 22px;
  font-weight: 400;
  color: var(--h-clr);
  margin: 0;
}

.price-con {
  margin: 0 0 0.5rem 0;
  color: var(--h-clr);
}

.price {
  font-size: 24px;
  font-weight: 500;
}

.per {
  font-size: 14px;
}

.pricing-description {
  font-size: 14px;
  color: var(--p-clr);
}

.options {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.option i {
  font-size: 24px;
  color: var(--i-clr);
}

.option div {
  font-size: 15px;
  color: var(--o-clr);
}

.btn-con {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.start-btn {
  background-color: var(--btn-clr);
  color: var(--btn-txt-clr);
  padding: 0.5rem 10rem;
  border: none;
  border-radius: 60rem;
}